<header class="{{ online | isof(total) }}">
	<div class="inner">
		{% if online == total %}

			<div class="icon">{{ include("./icon/success.svg") }}</div>
			<h1>All services are online</h1>

		{% elseif online == 0 %}

			<div class="icon">{{ include("./icon/error.svg") }}</div>
			<h1>All services are down</h1>

		{% else %}

			<div class="icon">{{ include("./icon/warning.svg") }}</div>
			<h1>Some services are down</h1>

		{% endif %}
		<p>
			Last updated on {{ now | date(date_format, timezone) }}.
		</p>
	</div>
</header>