<div class="heartbeats">
	{% for heartbeat in monitor.heartbeats %}
		<div class="beat status-{{ heartbeat.status }}">
			<div class="tooltip">
				<div class="status">
					<div>
						<img src="{{ heartbeat.status | statusicon }}" />
						<span>
							{{ ("status." ~ heartbeat.status) | t }}
						</span>
					</div>
					{% if heartbeat.ping %}
					<div>
						{{ "heartbeat.ping" | t({ping: heartbeat.ping}) }}
					</div>
					{% endif %}
				</div>
				<div class="date">
					{{ heartbeat.time | date }}
				</div>
			</div>
		</div>
	{% endfor %}
</div>