{% set gs = stats | globalstatus(total) %}
{% set icon = gs | statusicon("webp") %}
{% set update = "header.updated" | t({date: now | date}) %}
{% set title = ("header.title." ~ gs) | t %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/style.css">
		{{ include("seo.twig") }}
	</head>
	<body>
		{% if nav %}
		{{ include("./nav.twig") }}
		{% endif %}
		{{ include("./header.twig") }}
		<section>
			<div class="inner">
				{% for group in groups %}
					{{ include("./group.twig") }}
				{% endfor %}
			</div>
		</section>
		{{ include("./footer.twig") }}
	</body>
</html>