{% set status = monitor.last.status %}
<div class="inner monitor status-{{ status }}">
	<div class="header">
			<img class="icon" src="{{ status | statusicon }}" />
		<h4>
			{{ monitor.name }}
		</h4>
		<div class="uptime">
			{{ "monitor.uptime" | t({pct: (monitor.uptime * 100) | number_format(1, '.')}) | raw }}
		</div>
	</div>
	{% if monitor.opt.heartbeats %}
		{{ include("./heartbeats.twig") }}
	{% endif %}
</div>